force-app/main/default/flows/Opportunity_Subflow_Count_Active_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <description>Set OCRCount</description>
        <name>Count_Active_Contacts</name>
        <label>Count Active Contacts</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>OCRCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Active_Contacts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Active_OCRs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OCRCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Active_OCRs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Avoid null point exception errors by checking for results</description>
        <name>Check_for_OCRs</name>
        <label>Check for OCRs</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Update_Active_OCRs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_OCRs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Opp_OCRs</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactIds</targetReference>
            </connector>
            <label>Has OCRs</label>
        </rules>
    </decisions>
    <description>Subflow that can be triggered by Opportunity Stage Change, and/delete OCR, and other triggers.</description>
    <environments>Default</environments>
    <formulas>
        <description>Defaults to Opportunity Created Date if blank</description>
        <name>ActiveWindowStartDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISNULL({!NOD}), DATEVALUE({!Get_Opportunity.CreatedDate}),{!ActiveWindowStartSubFormula})</expression>
    </formulas>
    <formulas>
        <name>ActiveWindowStartDateSOQL</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!ActiveWindowStartDate})) + &apos;-&apos; + TEXT(MONTH({!ActiveWindowStartDate})) + &apos;-&apos; + TEXT(DAY({!ActiveWindowStartDate}))</expression>
    </formulas>
    <formulas>
        <name>ActiveWindowStartSubFormula</name>
        <dataType>Date</dataType>
        <expression>{!Get_Opportunity.CloseDate} - {!NOD}</expression>
    </formulas>
    <formulas>
        <name>CloseDateSOQL</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!Get_Opportunity.CloseDate})) + &apos;-&apos; + TEXT(MONTH({!Get_Opportunity.CloseDate})) + &apos;-&apos; + TEXT(DAY({!Get_Opportunity.CloseDate}))</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Opportunity Subflow | Count Active Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Subflow | Count Active Contacts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>This is the record holding N days specific to Active Contact Window</description>
        <name>Active_Contact_Window_Custom_Record</name>
        <label>Active Contact Window Custom Record</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Opp_OCRs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active_Contact_Window</stringValue>
            </value>
        </filters>
        <object>N_Days__mdt</object>
        <outputAssignments>
            <assignToReference>NOD</assignToReference>
            <field>Number_of_Days__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Contacts</name>
        <label>Get Active Contacts</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Active_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ContactIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Last_Activity_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>ActiveWindowStartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Last_Activity_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.CloseDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Opp_OCRs</name>
        <label>Get All Opp OCRs</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_OCRs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Contact_Window_Custom_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Active_OCRs</name>
        <label>Update Active OCRs</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <inputReference>Get_Opportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <description>Extracts Contact Ids from OCR collection</description>
        <name>ContactIds</name>
        <label>ContactIds</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_Active_Contacts</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_All_Opp_OCRs[$EachItem].ContactId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The API Name of the field used to track a Contact&apos;s Last Activity Date in this org.</description>
        <name>LastActivityDateAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Last_Activity_Date__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>NOD</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OCRCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
