force-app/main/default/flows/Opportunity_Count_Active_Contacts_when_Stage_Changes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Prepares for SOQL</description>
        <name>Add_Quotes_to_Collection</name>
        <label>Add Quotes to Collection</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <actionName>AddQuotesToFields</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Active_OCR_Count</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldCollection</name>
            <value>
                <elementReference>ContactIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AddQuotesToFields</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Active_OCR_Count</name>
        <label>Get Active OCR Count</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <actionName>ActiveOCRCount</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Active_OCRs</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ActiveWindowStartDateSOQL</name>
            <value>
                <elementReference>ActiveWindowStartDateSOQL</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CloseDateSOQL</name>
            <value>
                <elementReference>CloseDateSOQL</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldString</name>
            <value>
                <elementReference>ContactIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LastActivityDateAPIName</name>
            <value>
                <elementReference>LastActivityDateAPIName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ActiveOCRCount</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>OCRCount</assignToReference>
            <name>count</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <description>Updates the API name of the field if it already exists.</description>
        <name>Update_LastActivityDateAPIName</name>
        <label>Update LastActivityDateAPIName</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>LastActivityDateAPIName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Last_Activity_Date_Custom_Setting.Field_API_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Opp_OCRs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Last_Activity_Date_Record</name>
        <label>Check for Last Activity Date Record</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Create_Last_Activity_Date_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Custom Setting Record</defaultConnectorLabel>
        <rules>
            <name>Record_Exists_Keep_Going</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Last_Activity_Date_Custom_Setting.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LastActivityDateAPIName</targetReference>
            </connector>
            <label>Record Exists, Keep Going</label>
        </rules>
    </decisions>
    <decisions>
        <description>Avoid null point exception errors by checking for results</description>
        <name>Check_for_OCRs</name>
        <label>Check for OCRs</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Update_Active_OCRs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_OCRs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Opp_OCRs</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactIds</targetReference>
            </connector>
            <label>Has OCRs</label>
        </rules>
    </decisions>
    <description>When Opp stage changes, count Opportunity Contact Roles with Last Activity Date between Opportunity Creation Date and Closed Date or within N day lookback window.</description>
    <environments>Default</environments>
    <formulas>
        <description>Defaults to Opportunity Created Date if blank</description>
        <name>ActiveWindowStartDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISNULL({!NOD}), DATEVALUE({!$Record.CreatedDate}),{!ActiveWindowStartSubFormula})</expression>
    </formulas>
    <formulas>
        <name>ActiveWindowStartDateSOQL</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!ActiveWindowStartDate})) + &apos;-&apos; + TEXT(MONTH({!ActiveWindowStartDate})) + &apos;-&apos; + TEXT(DAY({!ActiveWindowStartDate}))</expression>
    </formulas>
    <formulas>
        <name>ActiveWindowStartSubFormula</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate} - {!NOD}</expression>
    </formulas>
    <formulas>
        <name>CloseDateSOQL</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Record.CloseDate})) + &apos;-&apos; + TEXT(MONTH({!$Record.CloseDate})) + &apos;-&apos; + TEXT(DAY({!$Record.CloseDate}))</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Opportunity | Count Active Contacts when Stage Changes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity | Count Active Contacts when Stage Changes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>This is the record holding N days specific to Active Contact Window</description>
        <name>Active_Contact_Window_Custom_Record</name>
        <label>Active Contact Window Custom Record</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Last_Activity_Date_Custom_Setting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active_Contact_Window</stringValue>
            </value>
        </filters>
        <object>N_Days__mdt</object>
        <outputAssignments>
            <assignToReference>NOD</assignToReference>
            <field>Number_of_Days__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Opp_OCRs</name>
        <label>Get All Opp OCRs</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_OCRs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Custom Setting Related to the Last Activity Date field being used in the org</description>
        <name>Get_Last_Activity_Date_Custom_Setting</name>
        <label>Get Last Activity Date Custom Setting</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Last_Activity_Date_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Last Activity Date</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Acoustic_Report_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Active_OCRs</name>
        <label>Update Active OCRs</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <inputAssignments>
            <field>Active_OCRs__c</field>
            <value>
                <elementReference>OCRCount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Active_Contact_Window_Custom_Record</targetReference>
        </connector>
        <filterFormula>ISCHANGED({!$Record.StageName}) &amp;&amp; ({!$CustomMetadata.Toggle_Switch__mdt.Master.All_Switch__c} || {!$CustomMetadata.Toggle_Switch__mdt.Master.Opportunity_Count_Active_OCRs__c})</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Creates the Custom Setting Record if it doesn&apos;t exist</description>
        <name>Create_Last_Activity_Date_Record</name>
        <label>Create Last Activity Date Record</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_All_Opp_OCRs</targetReference>
        </connector>
        <flowName>Acoustic_Report_Setting_Create_Last_Activity_Date_Record</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>SOQLBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>select Id from Contact where {!LastActivityDateAPIName}  &gt;= {!ActiveWindowStartDateSOQL} AND {!LastActivityDateAPIName} &lt;= {!CloseDateSOQL} AND Id IN ({!Add_Quotes_to_Collection.fieldString})</text>
    </textTemplates>
    <transforms>
        <description>Extracts Contact Ids from OCR collection</description>
        <name>ContactIds</name>
        <label>ContactIds</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Add_Quotes_to_Collection</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_All_Opp_OCRs[$EachItem].ContactId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The API Name of the field used to track a Contact&apos;s Last Activity Date in this org.</description>
        <name>LastActivityDateAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Last_Activity_Date__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>NOD</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OCRCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
