force-app/main/default/flows/Report_Settings_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_Last_Activity_Field</name>
        <label>Set Last Activity Field</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Get_Last_Activity_Date_Custom_Setting_Record.Field_API_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Field_API_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Existing_Custom_Setting_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Existing_Custom_Setting_Record</name>
        <label>Check for Existing Custom Setting Record</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Create_Last_Activity_Date_Custom_Setting_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Existing Record</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Last_Activity_Date_Custom_Setting_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Commit_Last_Activity_Field</targetReference>
            </connector>
            <label>Yes, Existing Record</label>
        </rules>
    </decisions>
    <description>Admin screen flow for Acousticselling-created settings.</description>
    <environments>Default</environments>
    <interviewLabel>Report Settings Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Report Settings Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Last_Activity_Date_Custom_Setting_Record</name>
        <label>Create Last Activity Date Custom Setting Record</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <inputAssignments>
            <field>Field_API_Name__c</field>
            <value>
                <elementReference>Field_API_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Last Activity Date</stringValue>
            </value>
        </inputAssignments>
        <object>Acoustic_Report_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get the Custom Settings Record for the Active Contact Window</description>
        <name>Get_Active_Contact_Window</name>
        <label>Get Active Contact Window</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Last_Activity_Date_Custom_Setting_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active_Contact_Window</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>N_Days__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Custom Setting Record that holds the API name of the field used to hold Last Activity.  Defaults to package custom field of Last_Activity_Date__c.   Using a product like SalesLoft or Outreach would require a different field.</description>
        <name>Get_Last_Activity_Date_Custom_Setting_Record</name>
        <label>Get Last Activity Date Custom Setting Record</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Custom_Settings_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Last Activity Date</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Acoustic_Report_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Commit changes.</description>
        <name>Commit_Last_Activity_Field</name>
        <label>Commit Last Activity Field</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <inputReference>Get_Last_Activity_Date_Custom_Setting_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Last_Activity_Field</targetReference>
        </connector>
        <fields>
            <name>ConfirmationText</name>
            <fieldText>&lt;p&gt;Would you like to set the API Name for the Contact last activity date field to &lt;strong&gt;{!Get_Last_Activity_Date_Custom_Setting_Record.Field_API_Name__c}&lt;/strong&gt;?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Batch_Outputs</name>
            <fieldText>&lt;p&gt;Error: {!Batch_Active_OCR_Subflow.Results.ErrorCount}&lt;/p&gt;&lt;p&gt;Records Processed {!Batch_Active_OCR_Subflow.Results.RecordsProcessed}&lt;/p&gt;&lt;p&gt;Total Job Items: {!Batch_Active_OCR_Subflow.Results.TotalJobItems}&lt;/p&gt;&lt;p&gt;Job Status {!Batch_Active_OCR_Subflow.Results.jobStatus}&lt;/p&gt;&lt;p&gt;Jobid {!Batch_Active_OCR_Subflow.Results.JobId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Admin Setup Screen.</description>
        <name>Set_Custom_Settings_Screen</name>
        <label>Set Custom Settings Screen</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <actions>
            <name>Batch_Active_OCR_Subflow</name>
            <actionName>asreporting__Batch_Active_OCR_Subflow</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>AnalysisStartDate</name>
                <value>
                    <elementReference>Start_Date</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastActivityDateAPI</name>
                <value>
                    <elementReference>Field_API_Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>NumberOfDays</name>
                <value>
                    <elementReference>Get_Active_Contact_Window.Number_of_Days__c</elementReference>
                </value>
            </inputParameters>
            <label>Batch Active OCR Subflow</label>
            <nameSegment>asreporting__Batch_Active_OCR_Subflow</nameSegment>
            <versionSegment>1</versionSegment>
        </actions>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>Current_Custom_Settings_DisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Current Settings&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Set_Custom_Settings_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Set_Custom_Settings_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Active_Contact_Window_text</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Active Contact Window - &lt;/strong&gt;lookback period from Opportunity Close Date for which a Contact is considered active.  If left blank, defaults to Opportunity Created Date.&lt;/p&gt;&lt;p&gt;Changes must be made via Custom Metadata/N Data/Manage Records.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Set_Custom_Settings_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Active_Contact_Window_displaytext</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_Active_Contact_Window.Number_of_Days__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Set_Custom_Settings_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Set_Custom_Settings_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LastActivityDate_displaytext</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Last Activity Date Field - &lt;/strong&gt;the field used to capture a Contact&apos;s last activity.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Set_Custom_Settings_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Field_API_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>asreporting__Last_Activity_Date__c</stringValue>
                    </defaultValue>
                    <fieldText>Field API Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Set_Custom_Settings_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Set_Custom_Settings_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BackfillDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Backfill the Active Opportunity Contact Count &lt;/strong&gt;for closed opportunities going back to the selected date.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Set_Custom_Settings_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Set_Custom_Settings_Screen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BlankSpace</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>BackfillOCRButton</name>
                    <extensionName>flowruntime:actionButtonField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Calculate Now</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSuccess</name>
                        <value>
                            <elementReference>Batch_Active_OCR_Subflow.IsSuccess</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inProgress</name>
                        <value>
                            <elementReference>Batch_Active_OCR_Subflow.InProgress</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <elementReference>Batch_Active_OCR_Subflow.ErrorMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>BackfillOCRButton</eventSource>
            <handlers>
                <screenActionName>Batch_Active_OCR_Subflow</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Contact_Window</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LastActivityDateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Acoustic_Report_Settings__c</objectType>
    </variables>
</Flow>
