force-app/main/default/flows/Report_Settings_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Admin screen flow for Acousticselling-created settings.</description>
    <environments>Default</environments>
    <formulas>
        <name>JobIdFormula</name>
        <dataType>String</dataType>
        <expression>MID({!Batch_Active_OCR_Subflow.Results.JobStatus}, FIND(&apos;Job ID: &apos;, {!Batch_Active_OCR_Subflow.Results.JobStatus}) + 8, 15)</expression>
    </formulas>
    <interviewLabel>Report Settings Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Report Settings Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get the Custom Settings Record for the Active Contact Window</description>
        <name>Get_Active_Contact_Window</name>
        <label>Get Active Contact Window</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Custom_Settings_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active_Contact_Window</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>N_Days__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actions>
            <name>Get_JobId_Status_Subflow</name>
            <actionName>asreporting__Get_JobId_Status_Subflow</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>jobId</name>
                <value>
                    <elementReference>JobIdFormula</elementReference>
                </value>
            </inputParameters>
            <label>Get JobId Status Subflow</label>
            <nameSegment>asreporting__Get_JobId_Status_Subflow</nameSegment>
            <versionSegment>1</versionSegment>
        </actions>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Check_Status_Text</name>
            <fieldText>&lt;p&gt;You can check the Batch Job status by pressing the button below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Check_Status</name>
            <extensionName>flowruntime:actionButtonField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Check Batch Job Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSuccess</name>
                <value>
                    <elementReference>Get_JobId_Status_Subflow.IsSuccess</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inProgress</name>
                <value>
                    <elementReference>Get_JobId_Status_Subflow.InProgress</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <elementReference>Get_JobId_Status_Subflow.ErrorMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>StatusText</name>
            <fieldText>&lt;p&gt;{!Get_JobId_Status_Subflow.Results.JobStatus}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>Check_Status</eventSource>
            <handlers>
                <screenActionName>Get_JobId_Status_Subflow</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <screens>
        <description>Admin Setup Screen.</description>
        <name>Set_Custom_Settings_Screen</name>
        <label>Set Custom Settings Screen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actions>
            <name>Batch_Active_OCR_Subflow</name>
            <actionName>asreporting__Batch_Active_OCR_Subflow</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>AnalysisStartDate</name>
                <value>
                    <elementReference>Close_Date</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>NumberOfDays</name>
                <value>
                    <elementReference>Get_Active_Contact_Window.Number_of_Days__c</elementReference>
                </value>
            </inputParameters>
            <label>Batch Active OCR Subflow</label>
            <nameSegment>asreporting__Batch_Active_OCR_Subflow</nameSegment>
            <versionSegment>1</versionSegment>
        </actions>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>Current_Custom_Settings_DisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Current Settings&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Set_Custom_Settings_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Set_Custom_Settings_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Active_Contact_Window_text_Step1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Step 1.&lt;/strong&gt;&lt;strong&gt;  Active Contact Window - &lt;/strong&gt;lookback period from Opportunity Close Date for which a Contact is considered active.  If left blank, defaults to Opportunity Created Date.&lt;/p&gt;&lt;p&gt;Changes must be made via Custom Metadata/N Data/Manage Records.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Set_Custom_Settings_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Active_Contact_Window_displaytext</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_Active_Contact_Window.Number_of_Days__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Set_Custom_Settings_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Set_Custom_Settings_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BackfillDisplayText_Step2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Step 2. &lt;/strong&gt;&lt;strong&gt;Backfill the Active Opportunity Contact Count &lt;/strong&gt;for all Opportunities that closed on or after the selected date.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Set_Custom_Settings_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Close_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Set_Custom_Settings_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BlankSpace</name>
                    <fieldText>&lt;p&gt;Start the calculation by pressing the button below.  You will receive an email once complete.  You can also check the status on the next screen.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>BackfillOCRButton</name>
                    <extensionName>flowruntime:actionButtonField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Start Batch Job</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSuccess</name>
                        <value>
                            <elementReference>Batch_Active_OCR_Subflow.IsSuccess</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inProgress</name>
                        <value>
                            <elementReference>Batch_Active_OCR_Subflow.InProgress</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <elementReference>Batch_Active_OCR_Subflow.ErrorMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Set_Custom_Settings_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Set_Custom_Settings_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TurnOnFlows_Step3</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Step 3.  &lt;/strong&gt;&lt;strong&gt;Enable Flows.&lt;/strong&gt; The Flows are already active but need to be enabled.  Go to Setup-&amp;gt;Custom Metadata Types-&amp;gt;Toggle Switch (Manage Records)-&amp;gt;Master-&amp;gt;Edit.  Check all boxes.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>BackfillOCRButton</eventSource>
            <handlers>
                <screenActionName>Batch_Active_OCR_Subflow</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Contact_Window</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
